<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <description>
      <div class="revenue_unit_wrap">
        <div class="revenue_unit_item adfit">
          <div class="revenue_unit_info">728x90</div>
          <ins
            class="kakao_ad_area"
            style="display: none"
            data-ad-unit="DAN-TE1RZ27jA5WIHsvV"
            data-ad-width="728"
            data-ad-height="90px"
          >
          </ins>
          <script
            type="text/javascript"
            src="//t1.daumcdn.net/kas/static/ba.min.js"
            async
          ></script>
        </div>
      </div>
      <p data-ke-size="size16">
        .gitignore 파일은 Git의 root 디렉토리에 저장되어, Git Repository나
        Staging Area에 추가되지 말아야하는 폴더나 파일을 정의하는 파일이다.
        .gitignore에 정의된 파일이나 폴더는 Staging 되지 않기 때문에 tracking
        되지도 않는다. 그래서 git status를 이용했을 때 보이지 않는다.
      </p>
      <p data-ke-size="size16">&nbsp;</p>
      <p data-ke-size="size16">
        가끔 .gitignore를 설정해도 작동하지 않을 때가 있다.<br />ignore처리된
        파일이 자꾸 changes에 나온다.<br />이때는 git의 캐시를 삭제하고 커밋,
        푸시하면 정리가 된다.
      </p>
      <pre
        id="code_1667457595879"
        class="bash"
        data-ke-language="bash"
        data-ke-type="codeblock"
      ><code>$ git rm -r --cached . $ git add . $ git commit -m "fixed untracked files"</code></pre>
      <p data-ke-size="size16">&nbsp;</p>
      <p data-ke-size="size16">&nbsp;</p>
      <p data-ke-size="size16">&nbsp;</p>
      <div
        data-ke-type="moreLess"
        data-text-more="더보기"
        data-text-less="닫기"
      >
        <a class="btn-toggle-moreless">더보기</a>
        <div class="moreless-content">
          <p data-ke-size="size16">참조</p>
          <p data-ke-size="size16">
            <a
              href="https://git-scm.com/docs/gitignore"
              target="_blank"
              rel="noopener"
              >https://git-scm.com/docs/gitignore</a
            >
          </p>
          <p data-ke-size="size16">
            <a
              href="https://stackoverflow.com/questions/11451535/gitignore-is-ignored-by-git"
              target="_blank"
              rel="noopener"
              >https://stackoverflow.com/questions/11451535/gitignore-is-ignored-by-git</a
            >
          </p>
        </div>
      </div>
      <div class="revenue_unit_wrap">
        <div class="revenue_unit_item adfit">
          <div class="revenue_unit_info">728x90</div>
          <ins
            class="kakao_ad_area"
            style="display: none"
            data-ad-unit="DAN-nWEcp22PYnndEbJH"
            data-ad-width="728"
            data-ad-height="90px"
          >
          </ins>
          <script
            type="text/javascript"
            src="//t1.daumcdn.net/kas/static/ba.min.js"
            async
          ></script>
        </div></div
    ></description>
  </body>
</html>
